<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Payment Method</title>
	<link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>


<body ng-app="validationApp" ng-controller="mainController">

  <header class="header">
    <div class="container">
        <nav>
            <a href="../index.html"><img src="../images/logo.png"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../hotel.html">Hotel</a></li>
                    <li><a href="../about.html">About</a></li>
                    <li><a href="../contact.html">Contact</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
        <!-- <nav class="nav">
            <a href="index.html" class="logo">
                <img src="images/logo.png" alt="" class="logo-image">
            </a>
            <div class="hamburger-menu">
                <i class="fas fa-bars open-state"></i>
                <i class="fas fa-times close-state"></i>
            </div>
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="index.html" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="hotel.html" class="nav-link">Hotel</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="contact.html" class="nav-link">Contact</a>
                </li>
            </ul>
        </nav> -->
    </div>
</header>

<div class="wrapper">
   <div class="container">
      <div class="title">Checkout Form</div>
      <form class="input-form" name="paymentForm" id="paymentForm" ng-submit="submitForm(paymentForm.$valid)" novalidate>
        <div class="section-1">
          <div class="items">
            <label class="label">Card Number</label>
            <input type="text" class="input" data-mask="0000 0000 0000 0000" minlength="12" placeholder="1234 1234 1234 1234" ng-model="user.phone" id="phone" name="phone" required="true">
            <small ng-show="paymentForm.phone.$invalid && paymentForm.phone.$touched" class="help-block text-danger">
              Card number at least 12 digit
          </small>
          </div>
        </div>
        <div class="section-2">
          <div class="items">
            <label class="label">Card Holder</label>
            <input type="text" class="input" placeholder="Corey Taylor" ng-model="user.name" id="name" name="name" required="true">
            <small ng-show="paymentForm.name.$invalid && paymentForm.name.$touched" class="help-block text-danger">Card holder name must be filled</small>
          </div>
        </div>
        <div class="section-3">
          <div class="items">
            <label class="label">Expire date</label>
            <input type="text" class="input" data-mask="00 / 00" placeholder="MM / YY" ng-model="user.expired" id="expired" name="expired" required="true">
            <small ng-show="paymentForm.expired.$invalid && paymentForm.expired.$touched" class="help-block text-danger">Fill this field</small>
          </div>
          <div class="items">
            <div class="cvc">
              <label class="label">cvc code</label>
            </div>
            <input type="text" class="input" data-mask="000" placeholder="000" ng-model="user.code" id="code" name="code" required="true">
            <small ng-show="paymentForm.code.$invalid && paymentForm.code.$touched" class="help-block text-danger">Fill this field</small>
          </div>
        </div>
        <div class="inputfield">
         <input type="submit" value="Pay" class="btn-arsy">
       </div>
      </form> 
    </div>
  </div>

  <footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-content-brand">
                <a href="../index.html" class="logo">
                    <img class=logo-image src="../images/logo.png" alt="">
                </a>
                <div class="paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis autem velit ea ratione fugiat asperiores iste incidunt provident nemo nesciunt? Ipsam soluta error delectus ex fugit nihil, nostrum quo ut.
                </div>
            </div>
            <div class="social-media-wrap">
                <h4 class="footer-heading">Follow Us</h4>
                <div class="social-media">
                    <a href="#" class="sm-link"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="sm-link"><i class="fab fa-facebook-square"></i></a>
                    <a href="#" class="sm-link"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="sm-link"><i class="fab fa-pinterest"></i></a>
                    <a href="#" class="sm-link"><i class="fab fa-tripadvisor"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="main.js"></script>
<script src="navbar.js">s</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script>
    var validationApp = angular.module('validationApp', []);
    validationApp.controller('mainController', function ($scope) {
        $scope.submitForm = function (isValid) {
            if (isValid) {
              
              alert('Your Booking is Success!');
              window.location.href = '../index.html';
            }
            else {
                alert('Failed to book, check the form again');
            }
        };
    });
    </script>

</body>
</html>